Здравствуйте, Вами или кем то другим была запрошена ссылка для востановления пароля.
<br><br>
Чтобы изменить пароль, Вам необходимо перейти по <a href="<%= resetPasswordLink %>">ссылки</a>.
<br><br>
Если запрос о изменении пароля сделали не Вы, то проигнорируйте это сообщение.
